.register {
    padding-top: 10%;
}

ul {
    list-style: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #00796b;
    color: white;
}
.register-buttons {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.bank-details table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px;
    text-align: center;
    display: inline;
    
}

@media (max-width: 768px) {
    .register {
        padding-top: 30%;
    }

    .bank-details table {
        width: 100%;
        margin: 10px 0;
    }

    table,
    th,
    td {
        font-size: 13px;
    }
    .register-buttons {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}